header {
    color: rgb(102, 7, 86);
    background-color: white;
    text-align: center;
    border: 3px solid rgb(139, 49, 109);

}

.content {
    text-align: left;
    margin-left: 15px;
}

.texto {
    color:rgb(255, 255, 255);
    text-align: left;
    margin-left: 10px;
}

h2 {
    color:rgb(255, 255, 255)
}

h3 {
    color:rgb(0, 0, 0);
    border: 1px solid black;
    text-align: center;
}

body {
    background-color: rgb(133, 124, 124);
}